@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply inline-block;
  }
}

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 폰트 굵기 예시

400(기본값) : Normal
600 : Semi Bold
700 : Bold
800 : Extra Bold */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* 라벨 전역 설정 */
label {
  font-weight: 600;
}

/* 일부 페이지 main 패딩 설정 */
main {
  padding: 0px 16px;
}

/* Data input css */
.data-input {
  width: 100%;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  outline: none;
}

.data-input:focus {
  border-color: hsla(229, 20%, 21%, 0.902);
}

.large-data-input {
  width: 100%;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 50px;
  padding-left: 14px;
  padding-right: 14px;
  outline: none;
}

.large-data-input:focus {
  border-color: hsla(229, 20%, 21%, 0.9);
}

/* Image file input css */
.image-file-input {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
  cursor: pointer;
}

.image-file-input::file-selector-button {
  display: none;
}

/* text gray */
.text-gray-color {
  color: hsla(229, 20%, 21%, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
